* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

:root {
  --fs: #262a35;
  --se: #eb008a;
  --th: #d2d2d2;
  --fou: #d2d2d2;
  --topNavBt: #f5f5f4;
  --projectBg: #e0e0e0;
  --project: #000000;
  --rightNav: ##262a35; }

body {
  font-family: Roboto, sans-serif; }

body > * {
  overflow-x: hidden; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none !important;
  color: black; }

button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: Roboto, sans-serif; }

/*=================*/
/*top nav*/
/*===============*/
.top-nav {
  width: 100%;
  grid-column: 1 / 17;
  grid-row: 1 / 3;
  display: flex;
  background-color: #f7f7f7;
  height: 70px;
  line-height: 70px;
  padding: 0px 15px;
  justify-content: space-between;
  flex-wrap: wrap; }
  .top-nav .nav-left {
    display: flex;
    flex-wrap: wrap; }
  .top-nav .res-drop-btn {
    display: none; }
  .top-nav .nav-right-on-rsponsive {
    display: none; }
  .top-nav .nav-items {
    display: flex;
    height: auto; }
  .top-nav .nav-items a {
    color: var(--fs); }
  .top-nav .nav-items li {
    margin-left: 25px; }
  .top-nav .nav-items li:last-child a {
    font-size: 14px;
    margin-left: 10px;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 8px 15px; }
  .top-nav .nav-items li:last-child i {
    font-size: 16px; }
  .top-nav .nav-res-drop img {
    width: 106px;
    height: 37px; }
  .top-nav .nav-right {
    padding-right: 10px; }
  .top-nav .nav-right span:last-child {
    margin-left: 25px; }
  @media only screen and (max-width: 1024px) {
    .top-nav .top-nav {
      background-color: #f7f7f7; }
    .top-nav .nav-left {
      padding: 0;
      width: 100%; }
    .top-nav .nav-res-drop {
      padding: 0px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
    .top-nav .nav-right-on-rsponsive {
      display: flex;
      justify-content: space-between; }
    .top-nav .nav-right-on-rsponsive > * {
      margin-left: 10px; }
    .top-nav .res-drop-btn {
      display: inline-block; }
    .top-nav .res-drop-btn i {
      margin-left: 5px;
      font-size: 1.5rem; }
    .top-nav .nav-right {
      display: none; }
    .top-nav .nav-items {
      height: 0;
      overflow: hidden; }
    .top-nav .nav-items-display {
      flex-direction: column;
      height: auto;
      padding: 0px 15px;
      line-height: 45px;
      background-color: #f7f7f7;
      z-index: 550; } }
  @media only screen and (max-width: 675px) {
    .top-nav .top-nav {
      width: 100%; }
    .top-nav .nav-right-on-rsponsive span {
      display: none; } }

/*end of top nav*/
.dropdown-onclick {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 295px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5; }

.dropdown-onclick a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/*.dropdown a:hover {background-color: #ddd;}*/
.show-dropdown {
  display: block; }

#myDropdown .dro-content {
  display: flex; }

#myDropdown .dro-content:hover {
  background-color: #f0f0f0; }

#myDropdown .fs-img img {
  width: 75px;
  padding-left: 5px;
  margin-top: 10px;
  height: 65px; }

#myDropdown .se-img p {
  width: 100%;
  display: inline-block; }

#myDropdown .se-img img {
  width: 120px;
  padding-left: 5px; }

.se-img {
  margin-left: 15px;
  line-height: 15px;
  font-size: 13px; }

.se-img p {
  color: var(--fs); }

/*Project dropdown on click*/
.dropbtn {
  color: black;
  /*padding: 16px;*/
  font-size: 16px;
  border: none;
  background-color: transparent; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content img {
  margin-top: 0px;
  width: 380px;
  height: 250px; }

.down-content {
  position: relative; }

.timier {
  position: absolute;
  bottom: 9%;
  left: 0%;
  display: flex;
  width: 100%;
  color: #fff;
  font-size: 1.5rem; }

.timier p:first-child {
  color: blue;
  background-color: var(--se);
  padding-left: 10px;
  color: #fff;
  transition: width 2s; }

.timier p:first-child {
  width: 50%; }

.timier p:last-child {
  color: blue;
  width: 50%;
  padding-left: 20%;
  background-color: rgba(0, 5, 11, 0.5);
  color: #fff; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: transparent; }

.Lorenzo {
  padding: 0px 10px;
  margin: 0px;
  display: inline-block;
  line-height: 30px; }

.Lorenzo span {
  font-size: 1.5rem;
  font-weight: bold; }

.Lorenzo p {
  color: var(--fs); }

/*end of media secreen max width 1024*/
/*=======================*/
/*se nav*/
/*===================*/
.sen-nav {
  grid-column: 1 / 17;
  grid-row: 2 / 3;
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 45px;
  padding: 0px 15px;
  /*background-color: rgba(0, 5, 11, 0.75);*/
  background-color: rgba(255, 255, 255, 0.5);
  color: #262a35;
  font-size: 14px; }
  .sen-nav i {
    font-size: 18px; }
  .sen-nav span:first-child {
    margin-right: 25px; }
  @media only screen and (max-width: 675px) {
    .sen-nav {
      width: 100%; }
      .sen-nav .sen-right-nav span {
        display: none; } }

/*======================*/
/*dro down on click*/
/*======================*/
.dropdown-click {
  position: relative;
  display: inline-block; }

/*===================*/
/*sid nav */
/*===================*/
.side-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
  width: 30%;
  padding-left: 15px;
  transform: translate(-100%); }

.show-sidebar {
  transform: translate(0); }

.sidebar-header img {
  width: 170px; }

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 10px; }

.media__left {
  margin-top: 10px; }

.media__left svg {
  fill: var(--se); }

.links {
  padding-top: 55px;
  height: 100vh;
  line-height: 40px;
  font-size: 16px; }

.list > a {
  margin-left: 25px;
  color: var(--se); }

.list {
  display: flex; }

.media__left {
  min-width: 30px; }

.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(12, 55px);
  background-image: url("../image/cover-web-1.jpg");
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 675px) {
    .header {
      width: 100%;
      overflow-y: auto; } }
  .header .slider-content {
    grid-column: 1 / 17;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px; }
    .header .slider-content .left-side {
      width: 45%;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      margin-left: 25px; }
      .header .slider-content .left-side h1, .header .slider-content .left-side h2 {
        background-color: rgba(250, 250, 250, 0.5);
        padding: 5px 10px;
        margin-top: 5px;
        font-weight: normal; }
      .header .slider-content .left-side h2 {
        font-size: 1.5rem; }
      .header .slider-content .left-side h2 span {
        font-weight: bold;
        font-size: 2rem; }
      .header .slider-content .left-side h1 {
        font-family: Roboto, sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 2.5rem; }
      @media only screen and (max-width: 700px) {
        .header .slider-content .left-side {
          width: 80%; }
          .header .slider-content .left-side h1 {
            font-size: 2rem; } }
      @media only screen and (max-width: 675px) {
        .header .slider-content .left-side {
          width: 100%; }
          .header .slider-content .left-side h1 {
            font-size: 1.5rem; } }
    .header .slider-content .link-center {
      width: 80px;
      align-item: center;
      align-self: center; }
      .header .slider-content .link-center svg {
        fill: rgba(250, 250, 250, 0.75); }
    .header .slider-content .right-side {
      align-self: flex-end;
      display: flex;
      align-self: flex-end;
      background-color: rgba(0, 0, 0, 0.75);
      padding: 10px 5px;
      margin-right: 35px; }
      .header .slider-content .right-side .De {
        /*width: 70%;*/
        width: 350px;
        color: #fff; }
        .header .slider-content .right-side .De h2 {
          font-size: 16px;
          background-color: transparent;
          color: #fff;
          width: 70%; }
        .header .slider-content .right-side .De p {
          background-color: transparent;
          color: #fff;
          width: 70%;
          margin-left: 10px;
          font-size: 14px; }
      .header .slider-content .right-side .yeah {
        width: 40%;
        margin-top: 25px; }
        .header .slider-content .right-side .yeah span {
          width: 30%;
          font-size: 16px;
          background-color: var(--se);
          padding: 10px;
          margin-top: 40px;
          color: #fff; }
      @media only screen and (max-width: 700px) {
        .header .slider-content .right-side {
          align-self: flex-start;
          margin-left: 25px; } }
  .header .slide-bottom {
    grid-column: 1 / 17;
    grid-row: 15 / 17;
    display: flex; }
    .header .slide-bottom .bootom-left {
      width: 50%;
      background-color: #ff414d;
      padding: 10px 0px; }
      .header .slide-bottom .bootom-left h3 span {
        font-weight: bold;
        font-size: 2.5rem;
        padding: 0px 10px; }
      .header .slide-bottom .bootom-left h3 {
        color: #fff;
        font-size: 1.5rem;
        font-weight: normal;
        padding-left: 25px; }
    .header .slide-bottom .bootom-right {
      width: 50%;
      background-color: rgba(0, 0, 0, 0.75);
      padding: 10px 0px; }
      .header .slide-bottom .bootom-right h1 {
        margin-left: 4.5rem;
        color: #fff;
        font-weight: normal;
        font-size: 2.5rem;
        letter-spacing: 5px; }
    @media only screen and (max-width: 700px) {
      .header .slide-bottom {
        display: flex;
        flex-wrap: wrap;
        width: 100%; }
        .header .slide-bottom .bootom-left {
          width: 100%; }
        .header .slide-bottom .bootom-right {
          width: 100%; } }

.page-nav-section {
  border-bottom: 1px solid #4444;
  width: 100%; }

.page-nav {
  width: 100%;
  display: flex;
  margin: auto;
  line-height: 90px; }

.page-link {
  width: 30%; }

.page-link-list li {
  margin-left: 15px;
  text-transform: capitalize; }

.page-link-list a {
  color: var(--fs); }

.page-link-list li:first-child {
  margin-left: 0px; }

.page-link-list {
  display: flex; }

.commint-link {
  width: 20%;
  color: var(--se); }

.commint-link::before {
  content: "";
  border-left: 1px solid var(--fs);
  padding-right: 15px; }

.text-link {
  display: flex;
  line-height: 20px; }

.text-link img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 15px; }

.text-link p {
  margin: 15px 15px; }

.text-link p span {
  font-size: 13px; }

/* ============== */
/* garden */
.garden {
  width: 100%; }

.garden img {
  width: 100%; }

.col-text {
  line-height: 25px; }

.col-text p {
  margin-top: 15px; }

.row:last-child {
  margin-top: 25px; }

/*=======================*/
/*component-section*/
/*=======================*/
/* blogging card CSS */
.backgroundBlack {
  background-color: #f7f7f7;
  color: var(--fs); }

.avatarBox img {
  border-radius: 50%; }

.newsletter {
  /* border: 1px solid #262626; */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  background-color: #fff; }

.formInput {
  background-color: var(--fs);
  padding: 10px 15px; }

.backgroundDark {
  background-color: var(--se);
  padding: 6px 5px;
  margin-left: -5px; }

.emailInp {
  padding: 5px 5px; }

.specs {
  background-color: #f7f7f7;
  color: var(--fs); }

.specs p {
  margin: 3px; }

.bloggingCard {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.bloggingCard:hover {
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.3); }

.avatarSmall {
  width: 60px;
  height: 60px;
  border-radius: 30px; }

.blogerDetail {
  display: flex;
  justify-content: space-between;
  padding: 10px; }

.blogerDetail p {
  margin: 2px; }

.blogShort {
  height: 200px; }

.truffleCard {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.truffleCard:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3); }

.social-Link {
  display: flex;
  font-size: 2em; }

.socialLink {
  color: #eb008a;
  margin-left: 10px; }

.bottom-nav {
  width: 100%;
  height: auto;
  line-height: 110px; }

.bottom-left-list li {
  margin-right: 15px;
  font-size: 18px; }

.bottom-left-list a {
  color: var(--fs); }

.bottom-left-list a:hover {
  color: var(--se);
  text-decoration: none; }

.bottom-center-list li {
  margin-left: 15px; }

.bottom-right-list {
  margin-right: 35px; }

.bottom-right-list li {
  margin-right: 20px; }

.bottom-right-list img {
  width: 55px; }

.footer {
  width: 100%;
  height: auto;
  background-color: #eb008a;
  color: white; }

.text-center {
  padding-top: 35px; }
