/*====================*/
/*media screen*/
/*====================*/
@media screen and (max-width: 1024px){
	.header{
		height: auto;
		background-image: url('./image/cover-web-1.jpg');
		background-size: auto;
		background-position: center;
		background-repeat: no-repeat;			
	}	
	.nav-items{margin-left: 10px;}
	.nav-items li{
		margin-left: 15px;
	}
	.side-bar{
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: #fff;
		width: 30%;
		padding-left: 15px;
		z-index: 555;
		transform: translate(-100%);
	}
	.show-sidebar{
		transform: translate(0);	
	}	
	.slider{
		width: 100%;
		height: 500px;
		position: relative;
	}	
	.left-content{
		/*margin-left:40px;*/
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;	 
	}	
	.left-side{
		width: 65%;
		margin-left:35px;
		
	}	
	.left-side h2 span{
		font-weight: bold;
		font-size: 1rem;
	}
	.left-side h1{
		font-family: Roboto, sans-serif;
		font-weight: 100;
		font-style: normal;
		font-size: 2rem;
	}	
	.right-side{
		width: 60%;
		display: flex;
		align-self: flex-end;		
		background-color:rgba(0, 0, 0, 0.75);
		padding: 10px 5px;
		margin-right: 35px;
	}	
	.slide-bottom{
		/*margin-top: 5.5rem;*/
		position: absolute;
		top: 68%;
		left: 0%;
		width: 100%;
		display: flex;
	}
}/*end of media secreen max width 1024*/

@media screen and (max-width: 768px){
	.side-bar{
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: #fff;
		width: 40%;
		padding-left: 15px;
		z-index: 555;
		transform: translate(-100%);
	}
	.show-sidebar{
		transform: translate(0);	
	}
	.left-content{
		/*margin-left:40px;*/
		margin-top: 25px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;	 
	}	
	.left-side{
		width: 75%;
		margin-left:25px;
		
	}	
	.left-side h2 span{
		font-weight: bold;
		font-size: 1rem;
	}
	.left-side h1{
		font-family: Roboto, sans-serif;
		font-weight: 100;
		font-style: normal;
		font-size: 1.5rem;
	}	
	.right-side{
		width: 70%;
		display: flex;
		align-self: flex-end;		
		background-color:rgba(0, 0, 0, 0.75);
		padding: 10px 5px;
		margin-right: 35px;
	}	
	.slide-bottom{
		/*margin-top: 5.5rem;*/
		position: absolute;
		top: 69%;
		left: 0px;
		width: 100%;
		display: flex;
	}
	.bootom-left h3 span{
		font-size: 1.5rem;

	}
	.bootom-right h1{
		font-size: 2rem;
	}
}/*end of media screen max width 768*/

@media screen and (max-width: 600px){
	.side-bar{
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: #fff;
		width: 50%;
		padding-left: 15px;
		z-index: 555;
		transform: translate(-120%);
	}
	.show-sidebar{
		transform: translate(0);	
	}
	.left-content{
		/*margin-left:40px;*/
		margin-top: 25px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;	 
	}	
	.left-side{
		width: 90%;
		margin-left:25px;
		
	}	
	.right-side{
		width: 90%;
		display: flex;
		align-self: flex-end;		
		background-color:rgba(0, 0, 0, 0.75);
		padding: 10px 5px;
		margin-right: 35px;
	}	
	.slide-bottom{
		/*margin-top: 5.5rem;*/
		position: absolute;
		top: 71%;
		left: 0px;
		width: 100%;
		display: flex;
	}
	.bootom-left h3 span{
		font-size: 1.5rem;

	}
	.bootom-left h3{
		font-size: 1rem;
	}
	.bootom-right h1{
		font-size: 1rem;
	}
}/*end of max width 600*/

@media screen and (max-width: 375px){
	.slider{
		width: 100%;
		height: 600px;
		background-image: url('./image/cover-web-1.jpg');
		/*background-size: auto;*/
		background-size: cover;
		background-position: center;	
		border: 1px solid transparent;
	}
	.side-bar{
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: #fff;
		width: 100%;
		padding-left: 15px;
		z-index: 555;
		transform: translate(-120%);
	}
	.show-sidebar{
		transform: translate(0);	
	}
	.left-side{
		width: 90%;
		margin-left:25px;
		
	}	
	.right-side{
		width: 95%;
		display: flex;
		flex-wrap: wrap;
		align-self: flex-end;		
		background-color:rgba(0, 0, 0, 0.75);
		padding: 10px 5px;
		margin-right: 35px;
	}
	.right-side .yeah{
		width: 70%;		
	}

	.slide-bottom{
		/*margin-top: 5.5rem;*/
		position: absolute;
		top: 73%;
		left: 0px;
		width: 100%;
		display: flex;
	}
}/*end of max width 600*/
